html{
    font-family: "Chakra Petch", Arial, Helvetica, sans-serif;
    font-size: clamp(16px, 2vw, 20px);
    font-weight: 400;
    
}
input[type="text"],
input[type="email"] {
    font-family: inherit;
    background-color: #fff200;
    color: #000;

}
input[type="checkbox"]:checked{
    box-shadow: 0 0 0 3px#fff200;
}

body{
    margin: 0;
    padding: 0;
}
.main__title{
    margin-top: 0;
    font-size: 3em;
    text-align: center;

}
.header__links:hover{
    background-color: #ede100;
}
.main__subtitle{
    font-size: 2em;
}
.main__minititle{
    font-size: 1.5em;
}

.header, .footer{
    background-color: #fff200;
    color: #000;
    width: 100%;
    box-sizing: border-box;
    

}
.main{
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
    
}
footer{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.header__logo{
    display: inline-block;
    width: 150px;
    vertical-align: middle;
}


.header__nav a{
    text-decoration: none;
    color: #000;
    margin: 0 20px;
    text-align: center;
}
header img{
    width: 25px;
    padding-right: 10px;
    padding-top: 0;
}

.main{
    background-color: #000;
    color: #fff;
    width: 100%;
}
.main_subtitle{
    text-align: center;
}
table{
    border-color: #fff200;
    color: #000;
}
thead{
    background-color: #fff200;
}
tbody{
    background-color: #1d1d1d;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.main p{
    text-align: justify;
}
.resaltar{
    font-weight: 700;
    font-style: italic;
}
tbody img{
    width: 75px;
}
.game_name{
    color: #fff200;
}
#superearth{
    color: #127099;
}
#ciborgs{
    color: #ff0000;
}
#terminids{
    color: #ff9500;
}
#illuminates{
    color: #3a24e4;
}
.main__trailer{
    text-align: center;
}
main img{
    display: block;
    margin: 0 auto;
}
main article{
    display: block;
    margin: 0 auto;
    width: 99%;
}
.main__video--trailer{
    display: block;
    margin: 0 auto;
}

.footer__copyright{
    text-align: center;
    font-size: 0.6em;
    margin-bottom: 0;
    padding: 0 200px;
}
.main__last--song{
    margin-bottom: auto;
}
.footer__subtitle{
    margin-top: 0;
}
.inputs{
    width: 220px;
    text-align: justify;
}

.main__select{
    font-family: "Chakra Petch";
}

.image_subtitle{
    text-align: center;
    font-size: 0.8em;
}
h4{
    font-size: 1.2em;
}

.button{
    background-color: #000;
    color: #fff;
    border: 2px solid #fff200;
    margin: 20px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    font-family: "Chakra Petch", Arial, Helvetica, sans-serif;
}
.button:hover{
    background-color: #fff200;
    color: #000;

}
.images{
    display: block;
    margin: 0 auto;
}
.footer__social--media img{
    width: 50px;
    margin: 0 10px;
    
}
.footer__social--media{
    text-align: center;
}
.main__gallery{
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}
.main__gallery img{
    width: 500px;
    padding: 20px;
}

.main__gallery--main--image{
    grid-column: 1/4;
    grid-row: 1/3;
    width: 700px;
}
.main__select{
    background-color: #fff200;
    color: #000;
}


@media (max-width: 1280px) {

    .main{
        padding: 0 20px;
        box-sizing: border-box;
    }
    
    .header, .footer {
        flex-direction: column;
        text-align: center;
    }
    .footer__copyright{
        padding: 0 100px;
        box-sizing: border-box;
    }
    .header__nav a {
        margin: 10px 0;
    }
    .main img{
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
    .image_gallery {
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
        box-sizing: border-box;
    }
    .main__gallery--main--image {
        width: 100%;
        box-sizing: border-box;
         /* Ajustar imagen principal al ancho del contenedor */
    }
    .main__gallery {
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
        box-sizing: border-box;
    }

    .main__gallery img,
    .main__gallery--main--image {
        width: 100%; /* Ajustar imágenes al ancho del contenedor */
        padding: 10px; /* Espaciado entre imágenes */
        box-sizing: border-box;
    }

    .main__youtube--frame, /* Para videos de YouTube */
    .main__video--trailer {
        width: 100%; /* Ajustar videos al ancho del contenedor */
        
        display: block;
        margin: 0 auto;
    }

    .main__youtube--frame {
        font-size: clamp(0.8rem, 2vw, 1rem); /* Ajustar tamaño del texto del enlace */
        display: block;
        text-align: center;
        margin: 10px auto;
        
    }
    .main__soundtrack{
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .buttons{
        display: flex;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
    }
}

@media (max-width: 500px) {
    .header__nav {
        display: flex;
        flex-direction: column; /* Cambiar a columnas */
        align-items: center; /* Centrar los elementos */
        gap: 10px; /* Espaciado entre los enlaces */
    }

    .header__nav a {
        margin: 0; /* Eliminar márgenes laterales */
        width: 100%; /* Hacer que los enlaces ocupen todo el ancho */
        text-align: center; /* Centrar el texto */
    }
    .footer_copyright{
        padding: 0 20px;
        box-sizing: border-box;
    }
    
}